include LICENSE
include NOTICE
include CONTRIBUTING.md
include TRADEMARKS.md
include installation.md
include install.sh
recursive-include assets *
recursive-include docs *
recursive-include workspace_templates *
recursive-include workspace_templates .*
recursive-include tradingcodex_service/templates *
recursive-include tradingcodex_service/static *
global-exclude *.py[cod]
